html{,
	overscroll-behavior: contain
}

/* linea horizontal bajo los titulos principales */
hr{
	width: 30px;
	height: 3px;
	background-color: black;
}

/* configuracion de fuente a utilizar */
@font-face {
    font-family: TTNorms;
    src: url(fonts/TTNorms-Regular.otf);
}

@font-face {
    font-family: TTNorms;
    src: url(fonts/TTNorms-Bold.otf);
    font-weight: bold;
}

body{
	background-color: #fff;
	color: #232929;
    font-family: 'TTNorms', sans-serif;
}

.header, .footer{
		position:fixed;
		height: 45px;
		display:block;
		width: 100%;
		z-index:1;
		color: #232929;
		
		padding: 0px 0px 0px 0px;
		margin: 0px 30px 0px 0px;
}

.header{
	top:0px;
	width: 100%;
	height: 30px;
	margin-top: 15px;
}

.header #menu-toggle{
	margin-right: 30px;
	float: right;
}

.header #menu-toggle img{
	width: 30px;
}

/* contenedor principal de la vista */
.container{
	margin: 90px 30px 0px 30px;
}

/* selector de secciones con movimiento vertical */
.section{
	height: calc(100% - 90px);
	overflow-y: visible;
}

/* selector de secciones con movimiento horizontal*/
.slide{

}

/* Overwriting styles for the navigation dots (to place it where we want)
* --------------------------------------- */
.fp-slidesNav.bottom{
	bottom: 135px;
}

.fp-slidesNav ul{
	text-align: center;
}

.fp-slidesNav ul li{
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.fp-slidesNav ul li a span{
 	margin: 0px;
 	width:  10px;
 	height: 10px;
 	margin: 0px;
 	background: #bebdbf;
 	left: unset;
 }

.fp-slidesNav ul li a.active span{
 	background: #68676b;
 	margin: 0px;
 	width:  10px;
 	height: 10px;
 	left: unset;

 }

 .fp-slidesNav ul li:hover a span{
    margin: 0px;
 	width:  10px;
 	height: 10px;
}

.infografia{
	height: 40vh;
}

h1, h2, h3, h4, h5, h6{
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1.huge{
	font-size: 45px;
	line-height: 60px;
	font-style: bold;
}

/*acá hay un cambio añadido por mi: se modificaron los tamaños de Headings y P*/
h1{
	font-style: bold;
	/*font-size: 32px;*/
	font-size: 28px;
	line-height: 38.4px;
}


h2{
	font-size: 18px;
	font-style: bold;
	line-height: 28.8px;
}

p{
	font-size: 14px;
	font-style: regular;
	line-height: 21.6px;
	margin-top: 30px;
	margin-bottom: 30px;
}
p.p-small{
	font-size: 12px;
	line-height: 14.4px;
}

#map-list>div{
	margin-bottom: 18px;
	height: 25px;
}
#map-list>div>*{
	vertical-align: middle;
	font-size: 12px;
	display: inline-block;
	word-wrap: break-word;
}
#map-list>div>img{
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

#detail-bar{
	font-size: 14px;
	font-weight: bold;
	color: white; 
}

#detail-zone{
	font-size: 11px;
	margin: 0px;
	line-height: 14px;
	font-style: regular;
	padding-top: 16px; 
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}
#detail-region{
	font-size: 24px;
	line-height: 28.8px;
	font-style: bold;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}
#detail-author{
	font-size: 12px;
	line-height: 14.4px;
	text-align: right;
	font-weight: bold;
}

.btn-map{
	width: 50%;
	text-align: center;
}

.btn-map>img{
	padding: 5px;
	height: 30px;
}

.table-maps{
	margin: 23px 0px 0px 0px;
	padding: 0px;
}


h5{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}


/* Nav bar */

 /* The Overlay (background) */
.overlay {
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(252,252,252, 0.96); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: flex;
    align-items: center;
}

/* Position the content inside the overlay */
.overlay-content {
    width: 100%;
    text-align: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* The navigation links inside the overlay */
.overlay a {
    padding-bottom: 30px;
    text-decoration: none;
    color: #232929;
    display: block; /* Display block instead of inline */
    transition: 0.1s; /* Transition effects on hover (color) */
}

.overlay-content .menu-icon{
	width: 32px;
}

.overlay-content div {
    padding-bottom: 15px;
}

/* When you mouse over the navigation links, change their color */
.menu-item{
    font-size: 18px;
    transition: all 0.1s;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0px;
    transform-origin: 50% 50%;
    bottom: 90px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        bottom: 15px;
    }
} 

.footer{
	bottom:0px;
	margin-left: 0px;
	display:block;
	width: 100%;
	height: 120px;
	transition: 0.2s;
}

.footer.hidden{
	width: 100%;
	height: 0px;
	transition: 0.2s;
	bottom: -10px;
}

.footer.open{
	height: 300px;
	transition: 0.2s;
}

.footer.maximized{
	height: 100%;
	transition: 0.2s;
}



#button-header{
	margin-left: 0px;
	top: 50px;
	background-color: transparent;
	text-align: center;
}

#title-header{
	font-size: 15px;
	line-height: 24px;
	font-style: bold;
	margin-left: 30px;
}

.btn-up{
	width: 30px;
	cursor: pointer;
	-webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}



.footer-content{
	margin-left: 30px;
	margin-right: 30px;
}


.footer-content h2{
	display: inline-block;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align: top;
}

.btn-open-map-footer{
	width: 30px;
	float: right;
	-webkit-transform: scaleY(-1);
    transform: scaleY(-1);

}

.btn-open-map-footer.open{
	-webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.footer .btn-maximize{
    transform-origin: 50% 50%;
	transition: 0.2s;
}

.footer.maximized .btn-maximize{
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.2s;
}

#map-footer{
	background-color: #fff;
}

#map-footer.maximized .footer-footer{
    transition: 0.2s;
}

#map-footer.open .footer-footer{
	bottom: 60px;
	position: absolute;
    transition: 0.2s;
	left: calc(50% - 15px);
}

#map-footer .footer-footer{
	bottom: -60px;
	position: absolute;
    transition: 0.2s;
	left: calc(50% - 15px);
}

#map-footer.maximized .footer-body{
	height: 100%;
    transition: 0.2s;
}

#button-footer{
	text-align: center;
	height: 30px;
}

.btn-down{
    width: 30px;
    cursor: pointer;
}

.map-section{
	position: absolute;
	display: inline-block;
	height: 100%;
}


.map-zoombar, .map-toolbar{
	z-index: 10;
}

.map-toolbar{
	width: 30px;
	margin-top: 15px;
}
.map-toolbar>img{
	padding-bottom: 30px;
	width: 30px
}
#zoom-slider{
	width: 30vh;
	transform-origin: 0%;
  	transform: rotate(90deg);
 	-moz-transform: rotate(90deg);
 	margin: 0px;
 	padding: 0px;
 	z-index: 8;
 	margin-left: 15px;
}

.map-zoombar img{
	width: 30px;
	margin-top: -5px;
}

.map-zoombar .slider-wrapper{
	width: 30px;
}

/* contenedor del mapa */
.map-container{
	position: relative;
	width: calc(100vw - 120px);
	margin-left: 30px;
	height: 80vh;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	overflow-x: scroll;
}

/* svg contenedor del mapa y los marcadores */
.svg-map{
	width: calc(100vw - 120px);
	z-index: 100;
    transform-origin: 70% 0%;
    transform: translate(0px 0px 0px);
}

.svg-map .img-map{
}

/* marcador de punto de interes en mapa */
.map-marker{
	z-index: 110;
    transition: 0.1s;
	transform-origin: 100% 100%;
}

.map-marker.open{
    transition: 0.1s;
}

#detail-bar{
	background-color:#ffec1b; 
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
	font-size: 14px;
	padding-left: 30px;
}

.legend>div{
	height: 20px;
	font-size: 14px;
	margin-top: 15px;
}
.legend>div>span>img{
	height: 20px;
}

.btn-legend-return{
	position: absolute;
	bottom: 120px;
	width: 50%;
}
.btn-legend-return img{
	transform-origin: 50% 50%;
	transform: scaleX(-1);
	height: 40px;
	margin-left: calc(50% - 30px);
}

#overlay-menu{
	width : 100%;
	height: 100%;
	top   : -100%;
}


#overlay-download{
	width : 100%;
	height: 100%;
	top   : -100%;
}

#overlay-share{
	width : 100%;
	height: 100%;
	top   : -100%;
}

#overlay-download .overlay-download-content{
	 position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}


#overlay-download .buttons{
	text-align: center;
}

#overlay-download .title{
	text-align: center;
	font-size: 18px;
	font-weight: bold; 
	color: #68676b;

}

#overlay-download img{
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}


#overlay-share .overlay-share-content{
	width: 100%;
	height: 100%;
}

#overlay-share .overlay-share-content .btn-group-share{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#overlay-share .overlay-share-content .btn-close{
	position: absolute;
	left: 50%;
	bottom: 60px;
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
}

*::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.line{
	height: 30px;
	margin: 0px;
}
.line>*{
	display: inline-block;
}



/* Range input vertical*/


input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #46484C;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #46484c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #46484C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #46484C;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #46484c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #46484C;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #46484C;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #46484c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #46484C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #46484C;
}